/* Links */
a,
a:focus,
a:hover {
  color: #EC008C;
}
h1 {
  margin-bottom: 5px;
}
.btn-default,
.btn-default:focus {
  color: #EC008C;
  background-color: #fff;
  border: 1px solid #EC008C;
}
.btn-default:hover{
  color: #fff;
  background-color: #EC008C;
  border: 1px solid #EC008C;
}
p {
  color: #888;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  color: #EC008C;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 15px;
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover .cover-heading {
  font-size: 35px;
}
.cover .lead {
  color: #666;
  font-size: 25px;
  margin: 0;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #888;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: static;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
